DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

BASE_URL=
FRONTEND_URL=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

WARDEN_NAME=
WARDEN_EMAIL=
WARDEN_PASSWORD=

DEAN_NAME=
DEAN_EMAIL=
DEAN_PASSWORD=

SECURITY_NAME=
SECURITY_EMAIL=
SECURITY_PASSWORD=